<div class="w-full rounded mb-8 shadow-sm border-light-grey hover:border-accent-light border overflow-hidden">
  <a href="{{ url }}">
    <img src="{{ feature_image }}" alt="">
  </a>

    <div class="px-6 py-4">

      <div class="relative mb-3 z-0">
        <a href="{{ url }}">
          <h3 class="text-xl font-semibold my-0 mr-12 capitalize leading-tight">{{ title }}</h3>
        </a>

        <a class="text-accent text-sm hover:underline" href="{{ primary_author.url }}">{{ primary_author.name }}</a>

        <a class="absolute top-0 right-0" href="{{ primary_author.url }}">
          <img class="box-content w-10 h-10 rounded-full border-2 border-transparent hover:border-accent-light"
            src="{{ primary_author.profile_image }}"
            alt="">
        </a>
      </div>

      <a href="{{ url }}">
        <p class="text-md">{{ excerpt }}</p>
      </a>
    </div>
</div>