<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ @site.title }}</title>

    {{!-- Meta data for SEO --}}
    <meta name="description" content="{{ @site.description }}">

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="{{ @site.icon }}" type="image/x-icon">

    {{!-- Importing styles --}}
    <link rel="stylesheet" href="{{ asset 'dist/css/all.css' }}">

    <script src="{{ asset 'dist/scripts/index.js' }}" defer></script>

    {{ ghost_head }}
</head>
<body class="bg-white">

    {{> header }}

    {{{ body }}}

    {{> footer }}

    {{ ghost_foot }}
</body>

<script src="{{ asset 'scripts/index.js' }}" type="module"></script>

</html>